.cards-container{
    height: 41vh;
    background-image: url("./assets/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 24rem;
    padding-top: 3.2rem;
    padding-left: 1.7rem;
    padding-right: 1.6rem;
}

.back-card{
    position: relative;
    max-width: 28.6rem;
    margin-left: 5.5rem;
}

.back-card img{
    display: block;
    width: 100%;
}

.back-card span{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3.6rem;
    color: var(--White, #FFF);
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1.286px;
}

/* front card */

.front-card{
    position: absolute;
    max-width: 28.5rem;
    top: 11.5rem;
    margin-right: 7.2rem;
}

.front-card img{
    width: 100%;
}

.card-details{
    position: absolute;
    top: 1.8rem;
    left: 1.9rem;
    width: 90%; /* added because cvc number moved left depending the width of card number*/
}

#logo{
    width: 5.7rem;
    margin-bottom: 4rem;
}

.card-details > span{
    width: 100%;
    display: block;
    margin-bottom: 1.7rem;
    color: var(--White, #FFF);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 2.2px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.info span:first-of-type{
    color: var(--White, #FFF);
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 1.286px;
    text-transform: uppercase;
}

.info span:last-of-type{
    color: var(--White, #FFF);
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 1.286px;
    text-transform: uppercase;
}

/* input div */

.input-div{
    margin: 4.8rem 2.4rem 0 2.4rem;
}

.input-div label{
    display: block;
    font-family: Space Grotesk;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--Deep-Violet);
}

.input-div input{
    width: 100%;
    border-radius: 8px; 
    border: 1px solid var(--Dark-Grey);
    background: var(--White, #FFF);
    padding: 11px 16px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 9px;
    margin-bottom: 20px;
}

.input-div input::placeholder{
    opacity: 0.25;
}



.expiration-dates{
    display: flex;
}

.expiration-dates div:first-child{
    width: 78%;
}

#mm, #yy {
    width: 45%;
}

#mm{
    margin-right: 8px;
}

.confirm{
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: var(--Deep-Violet);
    color: #FFF;
    padding: 1.5rem 0;
    margin-top: 0.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3rem;
    text-transform: capitalize;
}

.confirm:active{
    background-color: green;
}



/* thank you page */


.thank-you{
    width: 87.2%;
    margin: 0 2.4rem;
    margin-top: 4.8rem;
    text-align: center;
}

.thank-you img{
    margin-bottom: 3.5rem;
}

.thank-you h1{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3.422px;
    color: var(--Deep-Violet);
    margin-bottom: 1.6rem;
}

.thank-you p{
    font-size: 1.8rem;
    font-weight: 500;
    color: #8F8694;
}

.thank-you button{
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: var(--Deep-Violet);
    color: #FFF;
    padding: 1.5rem 0;
    margin-top: 4.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
}