:root{
    font-size: 10px;
    --White: #FFF;
    --Deep-Violet: #21092F;
    --Light-Grey: #DFDEE0;
    --Dark-Grey: hsl(279, 6%, 55%);
    --Red: #FF5050;
    --colori: #6348FE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}